body {
	background: #000000;
	font-family: 'Open Sans', 'mastodon-font-sans-serif', monospace, sans-serif;
	letter-spacing: -0.5px;
	color: #e7e9ea;
}

.hero-widget__text,
.hero-widget__footer,
.account__header__bio .account__header__fields {
	background: #161616 !important;
}

.public-layout .public-account-header__tabs__tabs .counter.active::after {
	border-bottom: 4px solid #595aff;
}

.regeneration-indicator,
.conversation--unread,
.account-card__bio:after,
.directory__tag>a,
.directory__tag>div,
.directory__tag>a:focus,
.public-layout .public-account-header__bar::before,
.activity-stream .entry,
.public-layout .header,
.public-layout .public-account-bio,
.nothing-here,
.page-header,
.focusable:focus,
.button.logo-button:active,
.button.logo-button:focus,
.button.logo-button:hover,
.column-link,
.getting-started__wrapper,
.account__header__bar,
.account__section-headline,
.notification__filter-bar,
.column-header__back-button,
.column-subheading,
.composer--options-wrapper,
.detailed-status,
.detailed-status__action-bar,
.drawer__header,
.getting-started,
.column-inline-form,
.box-widget {
	background: none !important;
}

.public-layout .header .nav-button {
	background: none;
	border: 1px solid white;
}

.public-layout .header .nav-button:hover,
.directory__tag>a:hover,
.directory__tag>div {
	background: #ffffff14;
}

.status.status-direct {
	background: #1c1c1c;
}

.compose-form__poll-wrapper select {
	background-color: black;
	color: #e7e9ea;
	border-color: #777;
}

.column>.scrollable {
	background: #000000;
}

.status {
	border-bottom: none;
}

.icon-button {
	color: #71767b;
}

.poll__option input[type='text'] {
	background: none;
	border: 1px solid gray;
	color: #e7e9ea;
}

.poll__option input[type='text']::placeholder,
.compose-form .autosuggest-textarea__textarea::placeholder,
.compose-form .icon-button,
.compose-form .spoiler-input__input::placeholder,
.compose-form__poll-wrapper .button.button-secondary,
.language-dropdown__dropdown__results__item__common-name,
.report-dialog-modal__textarea::placeholder {
	color: white;
}

.compose-form__poll-wrapper,
.compose-form__poll-wrapper .poll__footer {
	border: none;
}

.composer--reply {
	background: #202327;
}

.composer--reply>.content {
	color: #e7e9ea;
}

.column-link:hover {
	background: #181818;
}

.column-link {
	color: #e7e9ea;
}

.wide .columns-area:not(.columns-area--mobile) .column {
	max-width: 600px;
}

.pillbar-button:not([disabled]).active {
	background-color: #595aff;
	box-shadow: none;
}

.composer--reply>.content a {
	color: #595aff;
}

.display-name.inline span,
.display-name.inline strong {
	color: #e7e9ea;
}

.pillbar-button:not([disabled]).active:focus {
	background-color: #595aff;
	box-shadow: none;
}

.column-header {
	background: #000;
	font-size: 20px;
	font-weight: bold;
}

.column-header__button,
.tabs-bar__wrapper {
	background: #000000;
}

.drawer--header {
	background: none;
	border-radius: 100px;
}

.react-toggle--checked .react-toggle-track {
	background-color: #595aff;
}

.react-toggle--checked:is(:hover, :focus-within):not(.react-toggle--disabled) .react-toggle-track {
	background-color: #595aff;
}

.drawer--header a {
	border-radius: 100px;
}

.account__avatar {
	border-radius: 100%;
}

.text-icon-button {
	color: #606984;
}

.status.collapsed .status__content::after {
	background: linear-gradient(rgba(40, 44, 55, 0), #1a1c22);
}

.column-header__collapsible-inner,
.announcements {
	background: #16181c;
}

.column-header__button.active,
.column-header__button.active:hover,
.column-header__notif-cleaning-buttons button.active,
.column-header__notif-cleaning-buttons button.active:hover {
	color: #e7e9ea;
	background: #16181c;
}

.account__display-name strong,
.status__display-name strong {
	color: #e7e9ea;
}

.display-name__html {
	font-weight: 700;
}

.composer--publisher>.primary {
	width: 90px;
}

.status__display-name,
.status__relative-time {
	color: #838383;
}

.notification__message {
	padding-top: 14px;
}

.account {
	padding-bottom: 14px;
}

.display-name__account {
	color: #8b8b8b;
}

.character-counter {
	color: #595aff;
}

.text-icon-button:hover {
	color: #595aff;
}

.status__info__icons {
	color: #71767b;
}

.drawer--header a:focus {
	background: none;
	color: white;
	font-weight: bold;
}

.drawer--header a:hover {
	background: #181818;
	color: #d3d3d3;
}

.composer--options>hr {
	display: none;
}

.account__header__bio .account__header__fields a {
	color: #595aff;
}

.icon-button.inverted {
	color: #595aff;
}

.empty-column-indicator,
.error-column,
.follow_requests-unlocked_explanation {
	background: none;
	color: #d3d3d3;
}

.icon-button.inverted:hover {
	color: #595aff;
}

.account__action-bar__tab.active {
	border-bottom: 4px solid #595aff;
}

.search__icon .fa {
	right: 20px;
}

.account__avatar-overlay-base,
.account__avatar-overlay-base img {
	border-radius: 100%;
}

.account__avatar-overlay-overlay {
	border-radius: 100%;
}

.button:disabled {
	background: #0e4d78;
}

.button {
	background: #595aff;
	border-radius: 100px;
}

.button.logo-button {
	background: none;
	border: 1px solid #e7e9ea;
}

.button.logo-button.button--destructive:active,
.button.logo-button.button--destructive:focus,
.button.logo-button.button--destructive:hover {
	background: none;
	color: #f4222e;
	border: 1px solid #f4222e;
}

.account__header__tabs__buttons .icon-button {
	border-radius: 100%;
}

.autosuggest-input label .autosuggest-textarea__textarea,
.compose-form__autosuggest-wrapper label .autosuggest-textarea__textarea {
	background: #161616;
	color: #e7e9ea;
}

.composer .compose-form__autosuggest-wrapper textarea::placeholder,
.composer .composer--spoiler input::placeholder {
	color: #848484;
}

.search__input {
	background: #161616;
	border-radius: 100px;
}

.search__input:focus {
	background: none;
	box-shadow: inset 0px 0px 0px 2px #595aff;
}

.account__section-headline button,
.notification__filter-bar button {
	background: #000000;
}

.account__section-headline a,
.account__section-headline button,
.notification__filter-bar a,
.notification__filter-bar button {
	color: #71767b;
}

.status__content a.unhandled-link {
	color: #595aff;
	text-decoration: none;
}

.landing-page__short-description p a,
.reply-indicator__content a,
.rich-formatting a,
.rich-formatting li a,
.rich-formatting p a,
.status__content a {
	color: #595aff;
	text-decoration: none;
}

.drawer__inner__mastodon,
.mbstobon-0 .drawer__inner__mastodon,
.mbstobon-1 .drawer__inner__mastodon,
.mbstobon-2 .drawer__inner__mastodon,
.mbstobon-3 .drawer__inner__mastodon {
	display: none;
}

.account__section-headline a.active,
.account__section-headline button.active,
.notification__filter-bar a.active,
.notification__filter-bar button.active {
	color: #e7e9ea;
	font-weight: 900;
}

.account__section-headline a.active::after,
.account__section-headline a.active::before,
.account__section-headline button.active::after,
.account__section-headline button.active::before,
.notification__filter-bar a.active::after,
.notification__filter-bar a.active::before,
.notification__filter-bar button.active::after,
.notification__filter-bar button.active::before {
	border-color: #595aff;
	border-width: 0 10px 4px;
	border-radius: 2px;
}

.landing-page__short-description p a.mention span,
.reply-indicator__content a.mention span,
.rich-formatting a.mention span,
.rich-formatting li a.mention span,
.rich-formatting p a.mention span,
.status__content a.mention span {
	text-decoration: none;
}

.landing-page__short-description p a.mention,
.reply-indicator__content a.mention,
.rich-formatting a.mention,
.rich-formatting li a.mention,
.rich-formatting p a.mention,
.status__content a.mention {
	color: #595aff;
}

.compose-form .compose-form__modifiers,
.compose-form .compose-form__buttons-wrapper,
.dropdown-menu,
.dropdown-menu__item a,
.dropdown-menu__item button,
.about__meta,
.about__section__title,
.account__header__image {
	background: #161616;
}

.column-back-button,
.tabs-bar {
	background: #000;
}

.drawer__header a:hover,
.load-more:hover,
.privacy-dropdown__dropdown.bottom {
	background: #111;
}

.emoji-mart.emoji-mart-light,
.emoji-picker-dropdown__menu,
.emoji-mart-bar:first-child,
.emoji-mart-search,
.emoji-mart-scroll,
.emoji-mart-anchor,
.emoji-mart-category-label span {
	background-color: #000000;
	color: #e7e9ea;
}

.emoji-mart-search input {
	color: #fff;
}

.emoji-mart-search input:placeholder {
	color: #a5a5a5;
}

.privacy-dropdown__option,
.privacy-dropdown__option__content {
	color: #999999;
}

.privacy-dropdown__option__content strong,
.dropdown-menu__item {
	color: #ffffff;
}

.dropdown-menu__arrow.bottom {
	border-bottom-color: #161616;
}

.notification__message span,
.status__prepend {
	color: #959595;
}

.status__prepend strong {
	color: #fff !important;
}

.tabs-bar__link:not(.active),
.tabs-bar__link:active:not(.active),
.tabs-bar__link:focus:not(.active) {
	background: #000;
	border-bottom-color: #000;
}

.tabs-bar__link:active,
.tabs-bar__link:focus,
.tabs-bar__link:hover {
	background: #000;
}

.fa-bullhorn:before,
.bullhorn:before,
.fa-sliders:before {
	color: #e7e9ea;
}

.reply-indicator {
	background: #0c0c0c;
}

.search-results__header {
	background: #0c0c0c;
	color: #e7e9ea;
}

.reply-indicator__content,
.reply-indicator strong.display-name__html {
	color: #e7e9ea;
}

.search-results__section h5,
.modal-root__modal.confirmation-modal {
	background: #161616;
	color: #e7e9ea;
	border-bottom: none;
}

.modal-root__modal.confirmation-modal .confirmation-modal__action-bar {
	background: inherit;
}

.modal-root__modal.confirmation-modal .confirmation-modal__cancel-button {
	background-color: #d32525;
	color: #ffffff;
}

.modal-root__modal.confirmation-modal .confirmation-modal__cancel-button:hover {
	background-color: #ff4545;
	transition: all 0.2s ease-out;
}

.explore__search-header,
.drawer__inner,
.account-card__header img {
	background: #000 !important;
}

.compose-form .compose-form__warning,
.explore__search-header .search__input,
.public-layout .directory__list .account-card,
.account-card__permalink,
.scrollable .account-card,
.getting-started,
.getting-started__wrapper,
.landing-page__call-to-action,
.table-of-contents,
.rules-list,
.public-layout .header .brand:active,
.public-layout .header .brand:focus,
.public-layout .header .brand:hover {
	background: #161616;
	color: #e7e9ea;
}

.flex-spacer {
	background-color: #000;
	color: #e7e9ea;
}

button.icon-button i.fa-retweet {
	height: 19.5px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%2371767b' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%232B90D9' stroke-width='0'/></svg>");
}

.account__section-headline,
.notification__filter-bar {
	border-bottom: none;
}

.dismissable-banner,
.account__header {
	background-color: #000;
}

.account__header__bio .account__header__fields dd {
	color: #cdcdcd;
}

.account__header__bio .account__header__fields dt {
	color: #fff;
}

.search {
	margin-bottom: 10px;
}

@media screen and (max-width: 1174px) {
	.columns-area__panels {
		flex-direction: row-reverse;
		min-height: 100vh;
	}

	.tabs-bar__wrapper {
		position: relative;
		top: 0;
	}

	.navigation-panel {
		background-color: #000 !important;
	}

	.columns-area__panels__pane--navigational .navigation-panel {
		border-left: none;
		border-right: 1px solid #393f4f;
	}

	.columns-area__panels__main>div:last-child {
		padding-bottom: 0px;
	}

	.columns-area__panels__pane--navigational .navigation-panel {
		padding-top: 10px;
	}

	.ui__header {
		position: absolute;
		top: -100vh;
	}

	.ui__header__logo {
		display: none;
	}

	.ui__header__links {
		position: fixed;
		bottom: 10px;
		right: 10px;
	}
}

@media screen and (min-width: 631px) {

	.column,
	.drawer {
		padding: 5px 0px;
	}
}

@media screen and (max-width: 630px) {
	.columns-area__panels {
		flex-direction: row-reverse;
		min-height: 100vh;
	}

	.ui__header__logo {
		position: fixed;
		left: -40px;
		bottom: 40px;
		transform: rotate(-90deg);
	}

	.tabs-bar__wrapper {
		top: 0;
	}

	.navigation-panel {
		background-color: #000 !important;
	}

	.columns-area__panels__pane--navigational .navigation-panel {
		border-left: none;
		border-right: 1px solid #393f4f;
	}

	.column,
	.drawer {
		padding: 5px 0px;
	}

	.column:last-child,
	.drawer:last-child {
		padding-right: 0px;
	}

	.column:first-child,
	.drawer:first-child {
		padding-right: 10px;
	}
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background-color: #000 !important;
}

::-webkit-scrollbar-thumb {
	background-color: #161616 !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #353535 !important;
}

::-webkit-scrollbar-track:hover {
	background-color: #161616 !important;
}
